header {
	.header-logo {
		display: block;
		position: fixed;
		top: 75px;
		right: 45px;
		width: 175px;
		z-index: 999999;
		
		img {
			max-width: 100%;
			height: auto;
			position: absolute;
			top: 0;
			right: 0;
			@include ease(1500ms);
		}
		
		img.hidden {
			opacity: 0;
		}
		img.visible {
			opacity: 1;
		}
	}
}