header {
	.header-logo {
		display: block;
		position: fixed;
		top: 75px;
		right: 45px;
		width: 175px;
		z-index: 999999;
		
		img {
			max-width: 100%;
			height: auto;
			position: absolute;
			top: 0;
			right: 0;
		}
		
		img.orange {
			clip: rect(0px,auto,20px,0px);
		}
		img.white {
			clip: rect(20px,auto,auto,0px);
		}
	}
}