// Mobile Menu
#mobile-site-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	@include flexbox(center,center);
	transition-delay: 800ms;
	background-color: $white;
	z-index: 1;
	transform: matrix3d(1,0,0.00,-0.001,0.00,1,0.00,0.00,0,0,1,0,100vw,0,0,1);
-webkit-transform: matrix3d(1,0,0.00,-0.001,0.00,1,0.00,0.00,0,0,1,0,100vw,0,0,1);
	.mobile-nav {
		@include max-content(width);
		@include translate(40%,0,0);
		@include easeout(800ms);
		margin: 0 auto 20px;
		
		
		.nav-item {
			font-size: 50px;
			font-weight: 800;
			letter-spacing: 0px;
			text-align: left;
			text-transform: uppercase;
			margin: 3px 0;
			@include max-content(width);
			color: $orange;
			transition-delay: 800ms;
		}
	}
}
#mobile-site-menu.open {
	.mobile-nav {
		@include translate(0,0,0);
	}
}

header {
	.header-logo {
		display: block;
		position: fixed;
		top: 75px;
		right: 45px;
		width: 175px;
		z-index: 999999;
		
		img {
			max-width: 100%;
			height: auto;
			position: absolute;
			top: 0;
			right: 0;
// 			@include ease(1500ms);
			transition: 1500ms opacity ease-in-out !important;
			-webkit-transition: 1500ms opacity ease-in-out !important;
			-moz-transition: 1500ms opacity ease-in-out !important;
			-ms-transition: 1500ms opacity ease-in-out !important;
		}
		
		img.hidden {
			opacity: 0;
		}
		img.visible {
			opacity: 1;
		}
	}
	.mobile-menu-trigger {
		position: fixed;
		    top: 22px;
		    right: 20px;
		    z-index: 9999;
		    text-transform: uppercase;
		    font-weight: 800;
		    font-size: 10px;
		    letter-spacing: 4px;
			color: $orange;
			width: 30px;
			@include flexbox(center, space-between);
			
			.circle {
				height: 6px;
				width: 6px;
				border-radius: 3px;
				background-color: $orange;
				@include transition(1500ms,all,ease-in-out);
			}
	}
}

