// Scroll Hint 

// Setup variables for scroll hint box
$lineWidth : 22px;
$distance : 0.7 * $lineWidth;
$hoverdistance : 0.5 * $lineWidth;

// Apply styles
.scroll-hint-container {
	position: fixed;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: auto;
	@include max-content(width);
	@include flexbox(center,center);
	z-index: 999;
	
	p {
		font-family: $body-font;
		text-transform: uppercase;
		font-size: 6px;
		letter-spacing: 7px;
		font-weight: 100;
		text-align: center;
		color: $white;
		line-height: 10px;
	}
	
	.hint-wrapper {
		@include rotate(45deg);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		.hint-line {
			width: $lineWidth;
			height: 1px;
			background-color: $orange;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			@include easeout(600ms);	
			z-index: 99999999;
		}
		
		.line-1 {
			@include translate(0,$distance,0);
		}
		.line-2 {
			@include transrotate(-$distance,0,0,90deg);
		}
		.line-3 {
			@include translate(0,-$distance,0);
		}
		.line-4 {
			@include transrotate($distance,0px,0,90deg);
		}
	}
}
.scroll-hint-container:hover {
	
		.line-1 {
			@include translate(0,$hoverdistance,0);
		}
		.line-2 {
			@include transrotate(-$hoverdistance,0,0,90deg);
		}
		.line-3 {
			@include translate(0,-$hoverdistance,0);
		}
		.line-4 {
			@include transrotate($hoverdistance,0px,0,-90deg);
		}
}

// Home Page
/*
section {
	position: fixed;
	width: 100%;
}
*/
section.active {
	@include translate(0,0,0);
}
section.bottom {
	@include translate(0,100%,0);
}
section.top {
	@include translate(0,-20%,0);
}
.home-header {
	
	.content-wrapper {
		position: relative;
		text-align: center;
		.tagline {
			position: relative;
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 125px;
			}
			h1 {
				font-family: $heading-font;
				color: $white;
				text-transform: uppercase;
				font-size: 20px;
				text-align: center;
				font-weight: 400;
				letter-spacing: 15px;
				line-height: 1.2em;
				padding-left: 15px;
			}			
		}
		.main-btn {
			display: inline-block;
			margin-top: 50px;
		}
	}

	
}

/*
section.about {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translate3d(0,100%,0);
}
*/
