.projects-container {
	width: 62%;
	margin: 0 auto;
	position: relative;

	
	.image-container {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 0;
		margin: auto;
		padding-bottom: 50%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		
		z-index: 9;
		@include easeout(600ms);
		
		#project-background {
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background-position: center center;
		    background-size: cover;
		    background-repeat: no-repeat;
		    box-shadow: 0px 6px 26px rgba(22,22,22,0.5);
		    transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		    -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		    @include floatOut(2500ms);
		    @include translate(0,0,0);
		}
		#project-background.transition {
			transform: matrix3d(0.98,0,0.17,-0.001,0.00,0.98,0.17,-0.001,-0.17,-0.17,0.9603999999999999,0,0,0,0,1);
			-webkit-transform: matrix3d(0.98,0,0.17,-0.001,0.00,0.98,0.17,-0.001,-0.17,-0.17,0.9603999999999999,0,0,0,0,1);
		}
		#project-background.top {
			background-position: center top;
		}
		#project-background.bottom {
			background-position: center bottom;
		}
	}
	.image-container #project-background:before {
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.1);
	}
	.image-container #project-background:after {
		content:"";
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: linear-gradient(rgba(0,0,0,0.94) 3%, rgba(81,81,81,0.29) 60%);
		opacity: 0.2;
		@include easeout(800ms);
	}

	.project-wrapper {
		z-index: 99;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		@include max-content(height);
		@include easeout(800ms);
		visibility: hidden;
		
		h2 {
			text-align: center;
			font-size: 40px;
			letter-spacing: 20px;
			padding-left: 20px;
			font-weight: 300;
			opacity: 0.5;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 0;
			right: 0;
			cursor: pointer;
			@include max-content(height);
			@include max-content(width);
			@include easeout(800ms);
		}

	}
	.project-wrapper.off {
		opacity: 0;
	}
	.project-wrapper.active {
		visibility: visible;
		@include translate(0,0,100px);
		h2 {
			opacity: 1;
			cursor: text;
		}
	}
	.project-wrapper.next {
		visibility: visible;
		@include translate(0,38vh,0);
		z-index: 1;
		
		h2 {
			font-size: 25px;
			letter-spacing: 10px
		}
		
	}
	.project-wrapper.last {
		visibility: visible;
		@include translate(0,-38vh,0);
		z-index: 1;
		
		h2 {
			font-size: 25px;
			letter-spacing: 10px;
		}
	}
	
	.project-wrapper.next.off, .project-wrapper.last.off {
		@include translate(0,0,0);
	}
	.project-wrapper.bottom {
		@include translate(0,60vh,0);
	}
	.project-wrapper.top {
		@include translate(0,-60vh,0);
	}
}

// Number Progress
$num_color : #b7513a;
$num_opacity : 0.35;
.num-progress {
	@include flexbox(center,center);
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -15px;
	
	
	.divider {
		width: 170%;
		height: 25px;
		background-color: $num_color;
		opacity: 0.15;
		display: block;
		@include transition(0.4s,all,ease-in-out);
	}
	span {
		font-family: $heading_font;
		font-size: 190px;
		color: $num_color;
		opacity: 0.15;
		@include transition(0.4s,all,ease-in-out);
	}
}
.num-progress:hover, .project-nav:hover + .num-progress {
	.divider,span, {
		opacity: $num_opacity;
	}
}


		
.project-content {
	@include translate(0,-30px,	100px);
	@include easeout(800ms);
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 9999999;
	visibility: hidden;
	bottom: 0;
	.project-meta {
		@include flexbox(flex-start, space-between);
		max-width: 60%;
		margin: 0 auto;
		.divider {
			height: 1px;
			background-color: $white;
			width: 20px;
			margin: 12px auto;
		}
		h3 {
			letter-spacing: 15px;
			padding-left: 15px;
			text-align: center;
			margin: 0;
			font-weight: 100;
		}
		.meta {
			letter-spacing: 6px;
			padding-left: 6px;
			text-align: center;
			font-weight: 200;
			font-size: 12px;
			width: 100%;
			display: block;
		}
		.roles, .song-title {
			width: 50%;
			@include easeout(800ms);
		}
		.song-title {
			@include translate(40px,0,0);
		}
		.roles {
			@include translate(-40px,0,0);
		}
	}
	.project-nav-mobile {
		width: 100%;
		font-size: 9px;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 60px 0 20px;
		position: relative;
		display: none;
		
		.project-count {
			position: absolute;
		    left: 0;
		    right: 0;
		    margin: auto;
		    @include max-content(width);
		    padding: 0;
		}
		span.project-num {
			color: $dark_grey;
		}
		.project-trigger:after {
			
			
		}
		.project-trigger.next-project:after {
			content: "\f061";
			font: normal normal normal 9px/1 FontAwesome;
			padding: 2px;
			text-decoration: none;
			display: inline-block;
			@include easeout(600ms);
		}
		.project-trigger.previous-project:before {
			content: "\f060";
			font: normal normal normal 9px/1 FontAwesome;
			padding: 2px;
			text-decoration: none;
			display: inline-block;
			@include easeout(600ms);
		}
	}
}
.project-box.open, .project-box.playing {
	.project-content {
		@include translate(0,-70px,100px);
		visibility: visible;
		opacity: 1;
		.song-title, .roles {
			@include translate(0,0,100px);
		}
	}
	.audio-player-container {
		.next {
			@include transrotate(0,0,0,180deg);
		}
		
		.prev {
			@include translate(0,0,100px);
		}
	}
	
}
.project-box.open #project-background:after,.project-box.playing #project-background:after{
	opacity: 1;
} 
.project-wrapper.active.open, .project-wrapper.active.playing  {
		
	h2 {
		@include translate(0,-100px,0);
	}
}
.project-box.off {
	@include scale(0.35);
	opacity: 0;
}
