// Height Queries 

@media (min-height: 900px){
	// Projects
	.projects-container {
		.project-wrapper.next {
			@include translate(0,34vh,0);
		}
		.project-wrapper.last{
			@include translate(0,-34vh,0);
		}
	}
}

@media (max-height: 800px) and (min-width: 901px){
	section.about {
		.content-wrapper {
			.top-image {
				display: none;
			}
			.about-content-wrapper {
				.about-content {
					h2 {
						max-width: 80%;
						margin-top: 35px;
					}
					.about-btns {
						margin-top: 15px;
					}
				}
				
				img.side-image {
					bottom: 0;
				}
			}
			
		}
	}
	#project-container {
		width: 55%;
		
		.project-wrapper.active {
			h2 {
				font-size: 30px;
			}
		}
		
		.project-content {
			.project-meta {
				max-width: 85%;
				
				h3 {
					font-size: 15px;
				}
				.meta {
					font-size: 10px;
				}
			}
			.audio-player-container {
				.audio-player {
					.default-bar {
						width: 62%; 
					}
				}
			}
		}
		.project-box.playing .project-content, .project-box.open .project-content {
			@include translate(0,-45px,100px);
		}
		.project-wrapper.active.playing h2, .project-wrapper.active.open h2 {
			@include translate(0,-85px, 100px);
		}
		
		.project-wrapper.next {
			@include translate(0,35vh,0);
		}
		.project-wrapper.last{
			@include translate(0,-35vh,0);
		}
		.project-wrapper.next, .project-wrapper.last {
			h2 {
				font-size: 20px;
				letter-spacing: 13px;
			}
		}

		
	}
	.blog-container {
		max-width: 55%;
	}	
}




// Width Queries

@media (min-width:1800px){
	.project-box.open .project-content, .project-box.playing .project-content {
		@include translate(0,-100px,100px);
	}
}

@media (max-width: 1400px){
	
	// Single Page
	body.single.single-post {
		#masthead {
			position: relative;
			@include flexbox(center,flex-end);
			width: 95%;
			max-width: 850px;
			margin: 0 auto;
			padding-top: 34px;
			
			
			.header-logo {
				display: block;
				position: relative;
				top: 0;
				right: 0;
			}
		}
		#content {
			margin-top: 15px;
			border-top: 1px solid rgb(220,220,220);
			padding-top: 0px;
		}
	}
}

@media (max-width: 900px){
	
	  /////////////////////////
	 /////// HOME PAGE ///////
	/////////////////////////
	
	$home-max-width: 80%;
	
	body.home {
		
		// General
		#masthead {
			a.header-logo {
				top: 25px;
				left: 0;
				right: 0;
				margin: 0 auto; 
			}
		}
		#content {
			.scroller-nav {
				display: none;
			}
		}
		
		
		// About 
		section.about {
			.content-wrapper {
				max-width: $home-max-width;
				
				.about-content-wrapper {
					.about-content {
						width: 100%;
						img.side-image {
							display: none;
						}
						.about-btns {
							justify-content: flex-start;
							-webkit-justify-content: flex-start;
							.main-btn {
								margin-right: 15px;
							}
						}
					}
				}
			}
		}
		// Projects
		section.projects {
			.projects-container {
				width: $home-max-width;
				margin: 0 auto;
				position: relative;
				height: 86%;
				
				// Project Displayer
				.project-box {
					@include flexbox(center,space-between);
					padding-bottom: 0;
					height: 100%;
					flex-direction: column;
					
					#project-background {
						position: relative;
						display: block;
						padding-bottom: 73%;
						height: 0;
					}
					.project-content {
						@include translate(0,0,0);
						opacity: 1;
						visibility: visible;
						margin-top: 0;
						position: relative;
						width: 100%;
						
						.project-meta {
							max-width: 100%;
							margin: 0 auto 40px;
							
							.roles,.song-title {
								@include translate(0,0,0);
							}
							
							h3 {
								font-size: 26px;
							}
							.meta {
								font-size: 14px;
							}
						}
						.audio-player-container {
							.audio-player {
								.default-bar {
									width: $home-max-width;
									.progress-bar {
										background-color: $dark_grey;
									}
								}
								.buttons {
									width: 47%;
									margin: 61px auto 0;
									
									.prev,.next,.play {
										height: 70px;
										width: 70px;
										border-radius: 40px;
										
									}
									.play {
										background-position: 18px center;
										background-size: 40%;
										border-color: $dark_grey;
									}
									.play.pause {
										background-size: 31%;
										background-position:  25px center;
									}
									.prev,.next {
										background-size: 32%;
									}
									.prev {
										@include translate(0,0,0);
									}
									.next {
										@include transrotate(0,0,0,180deg);
									}
								}
							}
						}
					}
				}
				.project-box.off {
					@include scale(1);
				}
				
				// Project Wrappers 
				.project-wrapper.next, .project-wrapper.last {
					opacity: 0;
				}
				.project-wrapper {
					@include translate(0,-220px,100px);
					opacity: 0;
					h2 {
						@include translate(0,0,0);
					}
				}
				.project-wrapper.active {
					opacity: 1;	
				}
				.project-nav-mobile {
					@include flexbox(center,space-between);
				}
			}
		}
		// Blogs
		section.blog {
			.blog-container {
				width: $home-max-width;
				
				.blog-posts {
					position: relative;
					
					a {
						.blog-post {
							.post-meta-container {
								opacity: 1;
							}
						}
						.blog-post:after {
							opacity: 1;
						}
					}
					a:not(.post-1) {
						opacity: 0;
						visibility: hidden;	
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
					}
				}
				
			}
		}
		// Contact 
		section.contact {
			.contact-container {
				width: $home-max-width;
				
				form {
					width: 100%;
				}
			}
		}
	}	
}

@media (max-width : 800px){


	// Single Page	
		body.single.single-post {	
			.author-details-container {
				flex-direction: column;
				
				p {
					width: 100% !important;
					margin: 5px auto !important;
				}
			}
			
			blockquote {
				width: 110%;
				
				p {
					font-size: 21px;
					text-align: justify;
				}
			}
			figcaption {
				width: 118% !important;
			}
		
		}
}

@media (max-width: 500px){
	
	// Home Page
	body.home {
		
		// Header 
		section.home {
			.content-wrapper {
				.tagline {
					h1 {
						font-size: 26px;
						padding-left: 7px;
						letter-spacing: 7px;
					}
				}
				.main-btn {
					margin-top: 25px;
				}
			}
		}
		// About
		section.about {
			.content-wrapper {
				width: 90%;
				max-width: 90%;
				.about-content-wrapper {
					.about-content {
						h2 {
							margin-top: 0;
							max-width: 100%;
							font-size: 20px;
							line-height: 19px;
						}
						p {
							font-size: 12px;
							line-height: 17px;
						
						}
						.about-btns {
							flex-direction: column;
							margin-top: 0px;
							
							.main-btn {
								width: 100%;
								padding: 12px 0;
								text-align: center;
								margin-right: 0;
								margin-bottom: 15px;
							}
							
						}
					}
				}
				.top-image {
					display: none;
				}
			}
		}
		
		// Projects
		section.projects {
			#project-container {
				width: 90%;
			
				.project-box {
					height: 97%;
					padding-top: 6%;
					
					#project-background:after {
						opacity: 1;
					}
					.project-content {
						.audio-player-container {
							.audio-player {
								.buttons {
									width: 56%;
									margin:0 auto;
									.next,.prev,.play {
										width: 50px;
										height: 50px;
										
									}
									.play {
										background-position: 13px center;
									}
									.pause {
										background-position: 18px center;
									}
								}
								.default-bar {
									width: 80%;
								}
							}
						}
						.project-meta {
							flex-direction: column;
							
							.roles, .song-title {
								width: 100%;
							}
						
							.song-title {
								@include translate(0,-135px,0);
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								margin: 0 auto;
								h3, .divider {
									display: none;
								}	
							}
							.roles {
								
							}
							h3 {
								font-size: 20px;
							}
							.meta {
								font-size: 10px;
								letter-spacing: 3px;
								font-weight: 600;
							}
						}
						.project-nav-mobile {
							margin: 40px 0 45px;
							/*
.project-count {
								@include translate(0,-100%,0);
							}
*/
							.project-trigger {
								font-size: 7px;
							}
							.project-trigger:after, .project-trigger:before {
								font-size: 7px;
							}
						}
					}
				}
				.project-wrapper {
					@include translate(0,-150px,0);
					h2 {
						font-size: 24px;
						letter-spacing: 6px;
					}
				}
			}
		}
		
		// Blogs
		section.blog {
			.blog-container {
				width: 90%;
				@include translate(0,-18px,0);
			}
		}
		
		// Contact 
		section.contact {
			.contact-container {
				width: 90%;
			}
		}
	}
}