$outer_bubble_size : 14px;
$inner_bubble_size :  6px;
.scroller-nav {

	position: fixed;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 25px;
	@include max-content(height);
	z-index: 99999;
	
	.outer-circle {
		height: $outer_bubble_size;
		width: $outer_bubble_size;
		@include calc(border-radius, $outer_bubble_size " * 0.5");
		background-color: $white;
		opacity: 0.2;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		left: -4px;
		@include scale(0);
		@include ease(600ms);
	}
	.info {
		color: $white;
		margin-left: 15px;
		font-family: $body-font;
		text-transform: uppercase;
		font-size: 7px;
		letter-spacing: -2px;
		font-weight: 100;
		opacity: 0;
		@include translate(-20px,0,0);
		visibility: hidden;
		@include ease(600ms);


		
		.section-num {
			color: $orange;
			@include transition(1500ms,color,linear);
		}
		.section-title {
			@include transition(1500ms,color,linear);
		}
	}
	
	.nav-wrapper {

		@include flexbox(center,flex-start);
		padding: 8px 0;
		@include ease(1500ms);
		cursor: pointer;
		.circles {
			position: relative;
			@include flexbox(center,center);
			flex-direction: column;
			z-index: 999999999;
				
			.inner-circle {
				height: $inner_bubble_size;
				width: $inner_bubble_size;
				@include calc(border-radius, $inner_bubble_size " * 0.5");
				background-color: $white;
				@include ease(1500ms);
			}
		
		}
		
	}
	.nav-wrapper.active {
		.info {
			opacity: 1;
			letter-spacing: 6px;
			@include translate(0,0,0);
			visibility: visible;
			@include easeout(1500ms);

		}
		.outer-circle {
			@include scale(1);
			@include bounceOut(1200ms);			

		}
	}
	.nav-wrapper.hover {
		.info {
			opacity: 1;
			letter-spacing: 6px;
			@include translate(0,0,0);
			visibility: visible;

		}
		.outer-circle {
			@include scale(1);

		}
	}
}