/*************************************
  - - - - - - - VARIABLES - - - - - - -
**************************************/
/*************************************
  - - - - - - - FONT FACES - - - - - - 
**************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url(../fonts/stylesheet.css);
/*************************************
  - - - - - - COLOR PALETTE - - - - - 
**************************************/
/*************************************
  - - - - - - MISC VARIALBES - - - - - 
**************************************/
/*************************************
  - - - - - - - - MIXINS - - - - - - - 
**************************************/
html {
  transition: 1500ms background-color ease-in-out;
  -webkit-transition: 1500ms background-color ease-in-out;
  -moz-transition: 1500ms background-color ease-in-out;
  -ms-transition: 1500ms background-color ease-in-out;
  -o-transition: 1500ms background-color ease-in-out; }

body.lb-open {
  overflow: hidden; }

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.preblur {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
  transition: 0s filter linear !important;
  -webkit-transition: 0s filter linear !important;
  -moz-transition: 0s filter linear !important;
  -ms-transition: 0s filter linear !important; }

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px; }

div, p, a, span, input, textarea {
  font-family: "Roboto", sans-serif;
  color: #fff; }

.main-btn {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 12px 26px 12px 30px;
  font-size: 7px;
  letter-spacing: 4px;
  font-weight: 200;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  cursor: pointer;
  z-index: 9; }
  .main-btn span {
    z-index: 999999;
    position: relative; }

.main-btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222629;
  z-index: 99;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  -moz-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  -o-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  /* custom */ }

.main-btn:hover:after {
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  -ms-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0); }

.main-btn.orange {
  background-color: #CA5D44; }

.main-btn.blue {
  background-color: #222629; }

/*************************************
  - - - - - - - MODULES - - - - - - - -
**************************************/
.scroller-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 25px;
  height: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: -moz-fit-content;
  z-index: 99999; }
  .scroller-nav .outer-circle {
    height: 14px;
    width: 14px;
    border-radius: -o-calc(14px  * 0.5);
    border-radius: -moz-calc(14px  * 0.5);
    border-radius: -webkit-calc(14px  * 0.5);
    border-radius: calc(14px  * 0.5);
    background-color: #fff;
    opacity: 0.2;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -4px;
    -ms-transform: scale(0);
    /* IE 9 */
    -webkit-transform: scale(0);
    /* Chrome, Safari, Opera */
    -moz-transform: scale(0);
    /* Mozilla ? */
    transform: scale(0);
    -webkit-transition: all 600ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition: all 600ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition: all 600ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition: all 600ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    /* custom */ }
  .scroller-nav .info {
    color: #fff;
    margin-left: 15px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 7px;
    letter-spacing: -2px;
    font-weight: 100;
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    -moz-transform: translate3d(-20px, 0, 0);
    -ms-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    visibility: hidden;
    -webkit-transition: all 600ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition: all 600ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition: all 600ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition: all 600ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    /* custom */ }
    .scroller-nav .info .section-num {
      color: #CA5D44;
      transition: 1500ms color linear;
      -webkit-transition: 1500ms color linear;
      -moz-transition: 1500ms color linear;
      -ms-transition: 1500ms color linear;
      -o-transition: 1500ms color linear; }
    .scroller-nav .info .section-title {
      transition: 1500ms color linear;
      -webkit-transition: 1500ms color linear;
      -moz-transition: 1500ms color linear;
      -ms-transition: 1500ms color linear;
      -o-transition: 1500ms color linear; }
  .scroller-nav .nav-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    padding: 8px 0;
    -webkit-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    /* custom */
    cursor: pointer; }
    .scroller-nav .nav-wrapper .circles {
      position: relative;
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column;
      z-index: 999999999; }
      .scroller-nav .nav-wrapper .circles .inner-circle {
        height: 6px;
        width: 6px;
        border-radius: -o-calc(6px  * 0.5);
        border-radius: -moz-calc(6px  * 0.5);
        border-radius: -webkit-calc(6px  * 0.5);
        border-radius: calc(6px  * 0.5);
        background-color: #fff;
        -webkit-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
        -moz-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
        -o-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
        transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
        /* custom */
        -webkit-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
        -moz-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
        -o-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
        transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
        /* custom */ }
  .scroller-nav .nav-wrapper.active .info {
    opacity: 1;
    letter-spacing: 6px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    -webkit-transition: all 1500ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 1500ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 1500ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 1500ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */ }
  .scroller-nav .nav-wrapper.active .outer-circle {
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Chrome, Safari, Opera */
    -moz-transform: scale(1);
    /* Mozilla ? */
    transform: scale(1);
    -webkit-transition: all 1200ms cubic-bezier(0.485, 0.095, 0.705, 1);
    /* older webkit */
    -webkit-transition: all 1200ms cubic-bezier(0.485, 0.095, 0.705, 1.65);
    -moz-transition: all 1200ms cubic-bezier(0.485, 0.095, 0.705, 1.65);
    -o-transition: all 1200ms cubic-bezier(0.485, 0.095, 0.705, 1.65);
    transition: all 1200ms cubic-bezier(0.485, 0.095, 0.705, 1.65);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.485, 0.095, 0.705, 1);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.485, 0.095, 0.705, 1.65);
    -moz-transition-timing-function: cubic-bezier(0.485, 0.095, 0.705, 1.65);
    -o-transition-timing-function: cubic-bezier(0.485, 0.095, 0.705, 1.65);
    transition-timing-function: cubic-bezier(0.485, 0.095, 0.705, 1.65);
    /* custom */ }
  .scroller-nav .nav-wrapper.hover .info {
    opacity: 1;
    letter-spacing: 6px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  .scroller-nav .nav-wrapper.hover .outer-circle {
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Chrome, Safari, Opera */
    -moz-transform: scale(1);
    /* Mozilla ? */
    transform: scale(1); }

header .header-logo {
  display: block;
  position: fixed;
  top: 75px;
  right: 45px;
  width: 175px;
  z-index: 999999; }
  header .header-logo img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    transition: 1500ms opacity ease-in-out !important;
    -webkit-transition: 1500ms opacity ease-in-out !important;
    -moz-transition: 1500ms opacity ease-in-out !important;
    -ms-transition: 1500ms opacity ease-in-out !important; }
  header .header-logo img.hidden {
    opacity: 0; }
  header .header-logo img.visible {
    opacity: 1; }

.audio-player .default-bar {
  height: 3px;
  background-color: #959595;
  width: 50%;
  margin: 25px auto;
  position: relative;
  border-radius: 4px;
  cursor: pointer; }
  .audio-player .default-bar .progress-bar {
    height: 3px;
    background-color: #CA5D44;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    -webkit-transition: all 500ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 500ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 500ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 500ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */ }
  .audio-player .default-bar .progress-bar:after {
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #CA5D44;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -4px; }
  .audio-player .default-bar .current-time, .audio-player .default-bar .track-duration {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 9px;
    letter-spacing: 1px; }
  .audio-player .default-bar .current-time {
    left: 0;
    -webkit-transform: translate3d(-140%, -3.5px, 0);
    -moz-transform: translate3d(-140%, -3.5px, 0);
    -ms-transform: translate3d(-140%, -3.5px, 0);
    transform: translate3d(-140%, -3.5px, 0); }
  .audio-player .default-bar .track-duration {
    right: 0;
    -webkit-transform: translate3d(140%, -3.5px, 0);
    -moz-transform: translate3d(140%, -3.5px, 0);
    -ms-transform: translate3d(140%, -3.5px, 0);
    transform: translate3d(140%, -3.5px, 0); }

.audio-player .buttons {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 20%;
  margin: 0 auto; }
  .audio-player .buttons .prev, .audio-player .buttons .next, .audio-player .buttons .play {
    height: 40px;
    width: 40px;
    background-size: 35%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 25px;
    cursor: pointer; }
  .audio-player .buttons .prev, .audio-player .buttons .next {
    background-image: url("../images/button_reverse.png");
    -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */ }
  .audio-player .buttons .next, .audio-player .buttons .play {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    -moz-transform: rotate(180deg);
    /* Mozilla ? */
    transform: rotate(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; }
  .audio-player .buttons .play {
    background-image: url("../images/button_play.png");
    border: 1px solid #CA5D44;
    background-position: 11px center; }
  .audio-player .buttons .pause {
    background-image: url("../images/button_pause.png");
    background-position: 13.5px center;
    background-size: 30%; }
  .audio-player .buttons .next {
    -webkit-transform: translate3d(-20px, 0, 0) rotate(180deg);
    -moz-transform: translate3d(-20px, 0, 0) rotate(180deg);
    -ms-transform: translate3d(-20px, 0, 0) rotate(180deg);
    transform: translate3d(-20px, 0, 0) rotate(180deg); }
  .audio-player .buttons .prev {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    -ms-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0); }

.page-viewer {
  background-color: #222629;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background-image: url("../images/grain_trans.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -moz-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -o-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -moz-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -o-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  /* custom */ }
  .page-viewer video {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    /* custom */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .page-viewer video.visible {
    opacity: 0.55; }
  .page-viewer #vid1 {
    -webkit-transition: opacity 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995) !important;
    -moz-transition: opacity 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995) !important;
    -o-transition: opacity 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995) !important;
    transition: opacity 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995) !important;
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995); }
  .page-viewer .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    -webkit-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -moz-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    -o-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
    /* custom */
    opacity: 1; }

/*************************************
  - - - - - - - PAGES - - - - - - - -
**************************************/
#scrollport {
  min-height: -o-calc(100vh + 100px);
  min-height: -moz-calc(100vh + 100px);
  min-height: -webkit-calc(100vh + 100px);
  min-height: calc(100vh + 100px);
  z-index: -1;
  background: transparent; }

.scroll-hint-container {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: -moz-fit-content;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  z-index: 999;
  cursor: pointer;
  visibility: visible;
  -webkit-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -moz-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -o-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -moz-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -o-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  /* custom */ }
  .scroll-hint-container p {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 6px;
    letter-spacing: 7px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    line-height: 10px; }
  .scroll-hint-container .hint-wrapper {
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    -moz-transform: rotate(45deg);
    /* Mozilla ? */
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .scroll-hint-container .hint-wrapper .hint-line {
      width: 22px;
      height: 1px;
      background-color: #CA5D44;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      -webkit-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
      -moz-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
      -o-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
      transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
      /* custom */
      z-index: 99999999; }
    .scroll-hint-container .hint-wrapper .line-1 {
      -webkit-transform: translate3d(0, 15.4px, 0);
      -moz-transform: translate3d(0, 15.4px, 0);
      -ms-transform: translate3d(0, 15.4px, 0);
      transform: translate3d(0, 15.4px, 0); }
    .scroll-hint-container .hint-wrapper .line-2 {
      -webkit-transform: translate3d(-15.4px, 0, 0) rotate(90deg);
      -moz-transform: translate3d(-15.4px, 0, 0) rotate(90deg);
      -ms-transform: translate3d(-15.4px, 0, 0) rotate(90deg);
      transform: translate3d(-15.4px, 0, 0) rotate(90deg); }
    .scroll-hint-container .hint-wrapper .line-3 {
      -webkit-transform: translate3d(0, -15.4px, 0);
      -moz-transform: translate3d(0, -15.4px, 0);
      -ms-transform: translate3d(0, -15.4px, 0);
      transform: translate3d(0, -15.4px, 0); }
    .scroll-hint-container .hint-wrapper .line-4 {
      -webkit-transform: translate3d(15.4px, 0px, 0) rotate(90deg);
      -moz-transform: translate3d(15.4px, 0px, 0) rotate(90deg);
      -ms-transform: translate3d(15.4px, 0px, 0) rotate(90deg);
      transform: translate3d(15.4px, 0px, 0) rotate(90deg); }

.scroll-hint-container.hidden {
  opacity: 0;
  visibility: hidden; }

.scroll-hint-container:hover .line-1 {
  -webkit-transform: translate3d(0, 11px, 0);
  -moz-transform: translate3d(0, 11px, 0);
  -ms-transform: translate3d(0, 11px, 0);
  transform: translate3d(0, 11px, 0); }

.scroll-hint-container:hover .line-2 {
  -webkit-transform: translate3d(-11px, 0, 0) rotate(90deg);
  -moz-transform: translate3d(-11px, 0, 0) rotate(90deg);
  -ms-transform: translate3d(-11px, 0, 0) rotate(90deg);
  transform: translate3d(-11px, 0, 0) rotate(90deg); }

.scroll-hint-container:hover .line-3 {
  -webkit-transform: translate3d(0, -11px, 0);
  -moz-transform: translate3d(0, -11px, 0);
  -ms-transform: translate3d(0, -11px, 0);
  transform: translate3d(0, -11px, 0); }

.scroll-hint-container:hover .line-4 {
  -webkit-transform: translate3d(11px, 0px, 0) rotate(-90deg);
  -moz-transform: translate3d(11px, 0px, 0) rotate(-90deg);
  -ms-transform: translate3d(11px, 0px, 0) rotate(-90deg);
  transform: translate3d(11px, 0px, 0) rotate(-90deg); }

section {
  position: fixed;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -moz-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -o-transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  transition: all 1500ms cubic-bezier(0.74, 0.005, 0.24, 0.995);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -moz-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  -o-transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  transition-timing-function: cubic-bezier(0.74, 0.005, 0.24, 0.995);
  /* custom */
  background-color: transparent;
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  z-index: 9;
  overflow: hidden; }
  section .content-wrapper {
    max-width: 70%; }

section.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible; }

section.bottom {
  -webkit-transform: translate3d(0, 120%, 0);
  -moz-transform: translate3d(0, 120%, 0);
  -ms-transform: translate3d(0, 120%, 0);
  transform: translate3d(0, 120%, 0); }

section.top {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

section.home .content-wrapper {
  position: relative;
  text-align: center; }
  section.home .content-wrapper .tagline {
    position: relative; }
    section.home .content-wrapper .tagline img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 125px; }
    section.home .content-wrapper .tagline h1 {
      font-family: "Bebas Neue", sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 15px;
      line-height: 1.2em;
      padding-left: 15px; }
  section.home .content-wrapper .main-btn {
    display: inline-block;
    margin-top: 50px; }

.projects-container {
  width: 62%;
  margin: 0 auto;
  position: relative; }
  .projects-container .image-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    margin: auto;
    padding-bottom: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9;
    -webkit-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */ }
    .projects-container .image-container #project-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0px 6px 26px rgba(22, 22, 22, 0.5); }
  .projects-container .image-container #project-background:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1); }
  .projects-container .image-container #project-background:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.94) 3%, rgba(81, 81, 81, 0.29) 60%);
    opacity: 0.2;
    -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */ }
  .projects-container .project-wrapper {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: -moz-fit-content;
    -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */
    visibility: hidden; }
    .projects-container .project-wrapper h2 {
      text-align: center;
      font-size: 40px;
      letter-spacing: 20px;
      padding-left: 20px;
      font-weight: 300;
      opacity: 0.5;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      cursor: pointer;
      height: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: -moz-fit-content;
      -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      /* custom */ }
  .projects-container .project-wrapper.active {
    visibility: visible; }
    .projects-container .project-wrapper.active h2 {
      opacity: 1;
      cursor: text; }
  .projects-container .project-wrapper.next {
    visibility: visible;
    -webkit-transform: translate3d(0, 38vh, 0);
    -moz-transform: translate3d(0, 38vh, 0);
    -ms-transform: translate3d(0, 38vh, 0);
    transform: translate3d(0, 38vh, 0);
    z-index: 1; }
    .projects-container .project-wrapper.next h2 {
      font-size: 25px;
      letter-spacing: 10px; }
  .projects-container .project-wrapper.last {
    visibility: visible;
    -webkit-transform: translate3d(0, -38vh, 0);
    -moz-transform: translate3d(0, -38vh, 0);
    -ms-transform: translate3d(0, -38vh, 0);
    transform: translate3d(0, -38vh, 0);
    z-index: 1; }
    .projects-container .project-wrapper.last h2 {
      font-size: 25px;
      letter-spacing: 10px; }
  .projects-container .project-wrapper.next.off, .projects-container .project-wrapper.last.off {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .projects-container .project-wrapper.bottom {
    -webkit-transform: translate3d(0, 60vh, 0);
    -moz-transform: translate3d(0, 60vh, 0);
    -ms-transform: translate3d(0, 60vh, 0);
    transform: translate3d(0, 60vh, 0); }
  .projects-container .project-wrapper.top {
    -webkit-transform: translate3d(0, -60vh, 0);
    -moz-transform: translate3d(0, -60vh, 0);
    -ms-transform: translate3d(0, -60vh, 0);
    transform: translate3d(0, -60vh, 0); }

.project-content {
  -webkit-transform: translate3d(0, -30px, 0);
  -moz-transform: translate3d(0, -30px, 0);
  -ms-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  /* custom */
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 9999999;
  visibility: hidden;
  bottom: 0; }
  .project-content .project-meta {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    max-width: 60%;
    margin: 0 auto; }
    .project-content .project-meta .divider {
      height: 1px;
      background-color: #fff;
      width: 20px;
      margin: 12px auto; }
    .project-content .project-meta h3 {
      letter-spacing: 15px;
      padding-left: 15px;
      text-align: center;
      margin: 0;
      font-weight: 100; }
    .project-content .project-meta .meta {
      letter-spacing: 6px;
      padding-left: 6px;
      text-align: center;
      font-weight: 200;
      font-size: 12px;
      width: 100%;
      display: block; }
    .project-content .project-meta .roles, .project-content .project-meta .song-title {
      width: 50%;
      -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      /* custom */ }
    .project-content .project-meta .song-title {
      -webkit-transform: translate3d(40px, 0, 0);
      -moz-transform: translate3d(40px, 0, 0);
      -ms-transform: translate3d(40px, 0, 0);
      transform: translate3d(40px, 0, 0); }
    .project-content .project-meta .roles {
      -webkit-transform: translate3d(-40px, 0, 0);
      -moz-transform: translate3d(-40px, 0, 0);
      -ms-transform: translate3d(-40px, 0, 0);
      transform: translate3d(-40px, 0, 0); }

.project-box.open .project-content, .project-box.playing .project-content {
  -webkit-transform: translate3d(0, -70px, 0);
  -moz-transform: translate3d(0, -70px, 0);
  -ms-transform: translate3d(0, -70px, 0);
  transform: translate3d(0, -70px, 0);
  visibility: visible;
  opacity: 1; }
  .project-box.open .project-content .song-title, .project-box.open .project-content .roles, .project-box.playing .project-content .song-title, .project-box.playing .project-content .roles {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.project-box.open .audio-player-container .next, .project-box.playing .audio-player-container .next {
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
  -moz-transform: translate3d(0, 0, 0) rotate(180deg);
  -ms-transform: translate3d(0, 0, 0) rotate(180deg);
  transform: translate3d(0, 0, 0) rotate(180deg); }

.project-box.open .audio-player-container .prev, .project-box.playing .audio-player-container .prev {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.project-box.open #project-background:after, .project-box.playing #project-background:after {
  opacity: 1; }

.project-wrapper.active.open h2, .project-wrapper.active.playing h2 {
  -webkit-transform: translate3d(0, -100px, 0);
  -moz-transform: translate3d(0, -100px, 0);
  -ms-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0); }

.project-box.off {
  transform: scale(0.35);
  opacity: 0; }

.blog-container {
  width: 60%; }
  .blog-container .searchform {
    width: 100%; }
    .blog-container .searchform input[type="search"] {
      width: 100%;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0;
      border-bottom-color: #fff;
      margin-bottom: 17px;
      padding: 7px 0 12px 20px;
      font-size: 12px; }
    .blog-container .searchform input:focus {
      outline: none; }
    .blog-container .searchform label {
      position: relative; }
    .blog-container .searchform label:before {
      content: "";
      background-image: url(../images/search.png);
      position: absolute;
      top: 3.75px;
      left: 0;
      width: 12px;
      display: block;
      height: 12px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat; }
  .blog-container .blog-posts {
    width: 100%;
    height: 60vh;
    box-shadow: 0px 6px 28px rgba(17, 17, 17, 0.5); }
    .blog-container .blog-posts .blog-post {
      width: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      position: relative; }
      .blog-container .blog-posts .blog-post .post-meta-container {
        position: absolute;
        bottom: 15px;
        left: 15px;
        opacity: 0;
        z-index: 9;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out; }
        .blog-container .blog-posts .blog-post .post-meta-container h2 {
          margin: 0;
          margin-bottom: -8px;
          letter-spacing: 1px; }
        .blog-container .blog-posts .blog-post .post-meta-container .post-meta {
          font-size: 10px;
          font-weight: 600;
          letter-spacing: 1px;
          margin: 0; }
    .blog-container .blog-posts .blog-post:after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      background-image: linear-gradient(rgba(0, 0, 0, 0.9) 3%, rgba(30, 30, 30, 0.8) 60%);
      opacity: 0;
      transition: 0.3s all ease-in-out;
      -webkit-transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out;
      -ms-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out; }
    .blog-container .blog-posts .blog-post:hover .post-meta-container {
      opacity: 1; }
    .blog-container .blog-posts .blog-post:hover:after {
      opacity: 1; }

.contact-container {
  width: 60%; }
  .contact-container form {
    width: 60%;
    margin: 0 auto; }
  .contact-container input[type="text"], .contact-container input[type="email"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #959595;
    border-radius: 0;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    color: #222629;
    box-shadow: none;
    letter-spacing: 2px; }
    .contact-container input[type="text"]::-webkit-input-placeholder, .contact-container input[type="email"]::-webkit-input-placeholder {
      color: #222629; }
    .contact-container input[type="text"]:-moz-placeholder, .contact-container input[type="email"]:-moz-placeholder {
      color: #222629; }
    .contact-container input[type="text"]::-moz-placeholder, .contact-container input[type="email"]::-moz-placeholder {
      color: #222629; }
    .contact-container input[type="text"]:-ms-input-placeholder, .contact-container input[type="email"]:-ms-input-placeholder {
      color: #222629; }
  .contact-container input[type="text"], .contact-container input[type="email"], .contact-container textarea {
    width: 100%;
    margin: 15px 0; }
  .contact-container input:focus, .contact-container textarea:focus {
    outline: none !important; }
  .contact-container textarea {
    resize: none;
    box-shadow: 0px 6px 28px rgba(142, 142, 142, 0.5);
    color: #222629;
    border: none;
    height: 130px;
    font-size: 12px;
    padding: 10px; }
  .contact-container input[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 12px 40px 12px 42px;
    font-size: 7px;
    letter-spacing: 2px;
    font-weight: 200;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    background-color: #CA5D44;
    border: 0; }
  .contact-container input[type="submit"]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222629;
    z-index: 99;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */ }
  .contact-container input[type="submit"]:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

section.about .close-lb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  opacity: 0;
  visibility: hidden; }

section.about .close-lb.open {
  visibility: visible; }

section.about .content-wrapper {
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 200ms cubic-bezier(0.375, 0.005, 0, 1);
  -moz-transition: all 200ms cubic-bezier(0.375, 0.005, 0, 1);
  -o-transition: all 200ms cubic-bezier(0.375, 0.005, 0, 1);
  transition: all 200ms cubic-bezier(0.375, 0.005, 0, 1);
  /* custom */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 999; }
  section.about .content-wrapper img {
    max-width: 100%;
    box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.5); }
  section.about .content-wrapper .about-content-wrapper {
    position: relative;
    width: 90%;
    margin: 0 auto; }
    section.about .content-wrapper .about-content-wrapper .about-content {
      width: 55%; }
      section.about .content-wrapper .about-content-wrapper .about-content h2 {
        font-weight: 400;
        max-width: 65%;
        margin-top: 45px; }
      section.about .content-wrapper .about-content-wrapper .about-content p {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px; }
      section.about .content-wrapper .about-content-wrapper .about-content .about-btns {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        margin-top: 40px; }
        section.about .content-wrapper .about-content-wrapper .about-content .about-btns a {
          width: 45%;
          text-align: center;
          padding-left: 4px;
          padding-right: 0; }
    section.about .content-wrapper .about-content-wrapper img.side-image {
      width: 35%;
      position: absolute;
      bottom: -40px;
      right: 0; }

section.about .gear-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999999999;
  width: 25%;
  min-width: 340px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #222629;
  box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.65);
  height: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: -moz-fit-content;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, -50px, 0);
  -moz-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
  -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  /* custom */ }
  section.about .gear-container h3 {
    background-color: #CA5D44;
    color: #fff;
    letter-spacing: 12px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
    padding-left: 12px; }
  section.about .gear-container h3:not(:first-child) {
    border-top: 1px solid #C8422C; }
  section.about .gear-container h3:focus {
    outline: none; }
  section.about .gear-container h3:after {
    content: "";
    height: 14px;
    width: 14px;
    background-color: #CA5D44;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    -moz-transform: rotate(45deg);
    /* Mozilla ? */
    transform: rotate(45deg);
    position: absolute;
    bottom: -7px;
    left: 35px;
    display: block; }
  section.about .gear-container div {
    padding: 25px 44px 18px;
    max-height: 280px;
    overflow-y: scroll;
    text-transform: uppercase; }
  section.about .gear-container span.gear-content {
    font-family: "Bebas Neue", sans-serif;
    line-height: 1.8em;
    font-size: 16px; }
  section.about .gear-container h5 {
    letter-spacing: 3px;
    margin: 0 0 10px;
    background-color: #222629;
    width: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -moz-fit-content;
    position: relative;
    font-size: 20px; }
  section.about .gear-container h5:after {
    content: '';
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    width: 20%;
    -webkit-transform: translate3d(1px, 7px, 0);
    -moz-transform: translate3d(1px, 7px, 0);
    -ms-transform: translate3d(1px, 7px, 0);
    transform: translate3d(1px, 7px, 0); }
  section.about .gear-container h5:not(:nth-child(1)) {
    margin-top: 20px; }

section.about .gear-container.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*************************************
  - - - - - - - PAGES - - - - - - - -
**************************************/
@media (min-height: 900px) {
  .projects-container .project-wrapper.next {
    -webkit-transform: translate3d(0, 34vh, 0);
    -moz-transform: translate3d(0, 34vh, 0);
    -ms-transform: translate3d(0, 34vh, 0);
    transform: translate3d(0, 34vh, 0); }
  .projects-container .project-wrapper.last {
    -webkit-transform: translate3d(0, -34vh, 0);
    -moz-transform: translate3d(0, -34vh, 0);
    -ms-transform: translate3d(0, -34vh, 0);
    transform: translate3d(0, -34vh, 0); } }

@media (max-height: 800px) {
  section.about .content-wrapper .top-image {
    display: none; }
  section.about .content-wrapper .about-content-wrapper .about-content h2 {
    max-width: 80%;
    margin-top: 35px; }
  section.about .content-wrapper .about-content-wrapper .about-content .about-btns {
    margin-top: 15px; }
  section.about .content-wrapper .about-content-wrapper img.side-image {
    bottom: 0; }
  #project-container {
    width: 55%; }
    #project-container .project-wrapper.active h2 {
      font-size: 30px; }
    #project-container .project-content .project-meta {
      max-width: 85%; }
      #project-container .project-content .project-meta h3 {
        font-size: 15px; }
      #project-container .project-content .project-meta .meta {
        font-size: 10px; }
    #project-container .project-content .audio-player-container .audio-player .default-bar {
      width: 62%; }
    #project-container .project-box.playing .project-content, #project-container .project-box.open .project-content {
      -webkit-transform: translate3d(0, -45px, 0);
      -moz-transform: translate3d(0, -45px, 0);
      -ms-transform: translate3d(0, -45px, 0);
      transform: translate3d(0, -45px, 0); }
    #project-container .project-wrapper.active.playing h2, #project-container .project-wrapper.active.open h2 {
      -webkit-transform: translate3d(0, -85px, 0);
      -moz-transform: translate3d(0, -85px, 0);
      -ms-transform: translate3d(0, -85px, 0);
      transform: translate3d(0, -85px, 0); }
    #project-container .project-wrapper.next {
      -webkit-transform: translate3d(0, 35vh, 0);
      -moz-transform: translate3d(0, 35vh, 0);
      -ms-transform: translate3d(0, 35vh, 0);
      transform: translate3d(0, 35vh, 0); }
    #project-container .project-wrapper.last {
      -webkit-transform: translate3d(0, -35vh, 0);
      -moz-transform: translate3d(0, -35vh, 0);
      -ms-transform: translate3d(0, -35vh, 0);
      transform: translate3d(0, -35vh, 0); }
    #project-container .project-wrapper.next h2, #project-container .project-wrapper.last h2 {
      font-size: 20px;
      letter-spacing: 13px; }
  .blog-container {
    max-width: 55%; } }

@media (min-width: 1800px) {
  .project-box.open .project-content, .project-box.playing .project-content {
    -webkit-transform: translate3d(0, -100px, 0);
    -moz-transform: translate3d(0, -100px, 0);
    -ms-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0); } }
