/*************************************
  - - - - - - - VARIABLES - - - - - - -
**************************************/
/*************************************
  - - - - - - - FONT FACES - - - - - - 
**************************************/
/*************************************
  - - - - - - COLOR PALETTE - - - - - 
**************************************/
/*************************************
  - - - - - - MISC VARIALBES - - - - - 
**************************************/
/*************************************
  - - - - - - - - MIXINS - - - - - - - 
**************************************/
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px; }

div, p, a, span, input, textarea {
  font-family: "Roboto", sans-serif;
  color: #fff; }

section {
  height: 100vh;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: #CA5D44;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9;
  background-image: url("../images/grain_trans.png");
  -webkit-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  -moz-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  -o-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  /* custom */
  overflow: hidden; }
  section video {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    opacity: 0.55;
    z-index: 1; }

.main-btn {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 12px 26px 12px 30px;
  font-size: 7px;
  letter-spacing: 4px;
  font-weight: 200;
  position: relative;
  overflow: hidden;
  font-weight: 500;
  cursor: pointer; }
  .main-btn span {
    z-index: 999999;
    position: relative; }

.main-btn:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222629;
  z-index: 99;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  -moz-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  -o-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
  /* custom */ }

.main-btn:hover:after {
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  -ms-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0); }

.main-btn.orange {
  background-color: #CA5D44; }

.main-btn.blue {
  background-color: #222629; }

/*************************************
  - - - - - - - MODULES - - - - - - - -
**************************************/
.scroller-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 25px;
  height: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: -moz-fit-content;
  z-index: 99999; }
  .scroller-nav .outer-circle {
    height: 14px;
    width: 14px;
    border-radius: -o-calc(14px  * 0.5);
    border-radius: -moz-calc(14px  * 0.5);
    border-radius: -webkit-calc(14px  * 0.5);
    border-radius: calc(14px  * 0.5);
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    background-color: #fff;
    opacity: 0.2;
    position: absolute;
    top: 4px;
    left: -4px; }
  .scroller-nav .info {
    color: #fff;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 7px;
    letter-spacing: 6px;
    font-weight: 100;
    position: absolute;
    top: 6.5px;
    left: 10px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out; }
    .scroller-nav .info .section-num {
      color: #CA5D44;
      transition: 0.3s all ease-in-out;
      -webkit-transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out;
      -ms-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out; }
  .scroller-nav .nav-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 8px 0;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out; }
    .scroller-nav .nav-wrapper .circles {
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: column; }
      .scroller-nav .nav-wrapper .circles .inner-circle {
        height: 6px;
        width: 6px;
        border-radius: -o-calc(6px  * 0.5);
        border-radius: -moz-calc(6px  * 0.5);
        border-radius: -webkit-calc(6px  * 0.5);
        border-radius: calc(6px  * 0.5);
        background-color: #fff;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out; }

header .header-logo {
  display: block;
  position: fixed;
  top: 75px;
  right: 45px;
  width: 175px;
  z-index: 999999; }
  header .header-logo img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0; }
  header .header-logo img.orange {
    clip: rect(0px, auto, 20px, 0px); }
  header .header-logo img.white {
    clip: rect(20px, auto, auto, 0px); }

.audio-player .default-bar {
  height: 3px;
  background-color: #959595;
  width: 50%;
  margin: 25px auto;
  position: relative;
  border-radius: 4px; }
  .audio-player .default-bar .progress-bar {
    height: 3px;
    background-color: #CA5D44;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .audio-player .default-bar .progress-bar:after {
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: #CA5D44;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -4px; }
  .audio-player .default-bar .current-time, .audio-player .default-bar .track-duration {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 9px;
    letter-spacing: 1px; }
  .audio-player .default-bar .current-time {
    left: 0;
    -webkit-transform: translate3d(-140%, -3.5px, 0);
    -moz-transform: translate3d(-140%, -3.5px, 0);
    -ms-transform: translate3d(-140%, -3.5px, 0);
    transform: translate3d(-140%, -3.5px, 0); }
  .audio-player .default-bar .track-duration {
    right: 0;
    -webkit-transform: translate3d(140%, -3.5px, 0);
    -moz-transform: translate3d(140%, -3.5px, 0);
    -ms-transform: translate3d(140%, -3.5px, 0);
    transform: translate3d(140%, -3.5px, 0); }

.audio-player .buttons {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 20%;
  margin: 0 auto; }
  .audio-player .buttons .prev, .audio-player .buttons .next, .audio-player .buttons .play {
    height: 40px;
    width: 40px;
    background-size: 35%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 25px;
    cursor: pointer; }
  .audio-player .buttons .prev, .audio-player .buttons .next {
    background-image: url("../images/button_reverse.png"); }
  .audio-player .buttons .next, .audio-player .buttons .play {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    -moz-transform: rotate(180deg);
    /* Mozilla ? */
    transform: rotate(180deg); }
  .audio-player .buttons .play {
    background-image: url("../images/button_play.png");
    border: 1px solid #CA5D44;
    background-position: 11px center; }
  .audio-player .buttons .pause {
    background-image: url("../images/button_pause.png");
    background-position: 13.5px center;
    background-size: 30%; }

/*************************************
  - - - - - - - PAGES - - - - - - - -
**************************************/
.scroll-hint-container {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: -moz-fit-content;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  z-index: 999; }
  .scroll-hint-container p {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 6px;
    letter-spacing: 7px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    line-height: 10px; }
  .scroll-hint-container .hint-wrapper {
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    -moz-transform: rotate(45deg);
    /* Mozilla ? */
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .scroll-hint-container .hint-wrapper .hint-line {
      width: 22px;
      height: 1px;
      background-color: #CA5D44;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      -webkit-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
      -moz-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
      -o-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
      transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
      /* custom */
      z-index: 99999999; }
    .scroll-hint-container .hint-wrapper .line-1 {
      -webkit-transform: translate3d(0, 15.4px, 0);
      -moz-transform: translate3d(0, 15.4px, 0);
      -ms-transform: translate3d(0, 15.4px, 0);
      transform: translate3d(0, 15.4px, 0); }
    .scroll-hint-container .hint-wrapper .line-2 {
      -webkit-transform: translate3d(-15.4px, 0, 0) rotate(90deg);
      -moz-transform: translate3d(-15.4px, 0, 0) rotate(90deg);
      -ms-transform: translate3d(-15.4px, 0, 0) rotate(90deg);
      transform: translate3d(-15.4px, 0, 0) rotate(90deg); }
    .scroll-hint-container .hint-wrapper .line-3 {
      -webkit-transform: translate3d(0, -15.4px, 0);
      -moz-transform: translate3d(0, -15.4px, 0);
      -ms-transform: translate3d(0, -15.4px, 0);
      transform: translate3d(0, -15.4px, 0); }
    .scroll-hint-container .hint-wrapper .line-4 {
      -webkit-transform: translate3d(15.4px, 0px, 0) rotate(90deg);
      -moz-transform: translate3d(15.4px, 0px, 0) rotate(90deg);
      -ms-transform: translate3d(15.4px, 0px, 0) rotate(90deg);
      transform: translate3d(15.4px, 0px, 0) rotate(90deg); }

.scroll-hint-container:hover .line-1 {
  -webkit-transform: translate3d(0, 11px, 0);
  -moz-transform: translate3d(0, 11px, 0);
  -ms-transform: translate3d(0, 11px, 0);
  transform: translate3d(0, 11px, 0); }

.scroll-hint-container:hover .line-2 {
  -webkit-transform: translate3d(-11px, 0, 0) rotate(90deg);
  -moz-transform: translate3d(-11px, 0, 0) rotate(90deg);
  -ms-transform: translate3d(-11px, 0, 0) rotate(90deg);
  transform: translate3d(-11px, 0, 0) rotate(90deg); }

.scroll-hint-container:hover .line-3 {
  -webkit-transform: translate3d(0, -11px, 0);
  -moz-transform: translate3d(0, -11px, 0);
  -ms-transform: translate3d(0, -11px, 0);
  transform: translate3d(0, -11px, 0); }

.scroll-hint-container:hover .line-4 {
  -webkit-transform: translate3d(11px, 0px, 0) rotate(-90deg);
  -moz-transform: translate3d(11px, 0px, 0) rotate(-90deg);
  -ms-transform: translate3d(11px, 0px, 0) rotate(-90deg);
  transform: translate3d(11px, 0px, 0) rotate(-90deg); }

/*
section {
	position: fixed;
	width: 100%;
}
*/
section.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

section.bottom {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

section.top {
  -webkit-transform: translate3d(0, -20%, 0);
  -moz-transform: translate3d(0, -20%, 0);
  -ms-transform: translate3d(0, -20%, 0);
  transform: translate3d(0, -20%, 0); }

section .content-wrapper {
  max-width: 70%; }

section .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: -1; }

section.orange {
  background-color: #CA5D44; }

section.blue {
  background-color: #222629; }

section.white {
  background-color: #fff; }

section.home {
  background-color: #222629; }
  section.home .content-wrapper {
    position: relative;
    text-align: center; }
    section.home .content-wrapper .tagline {
      position: relative; }
      section.home .content-wrapper .tagline img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 125px; }
      section.home .content-wrapper .tagline h1 {
        font-family: "Bebas Neue", sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        letter-spacing: 15px;
        line-height: 1.2em;
        padding-left: 15px; }
    section.home .content-wrapper .main-btn {
      display: inline-block;
      margin-top: 50px; }

.projects-container {
  width: 62%;
  margin: 0 auto;
  position: relative; }
  .projects-container .image-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    margin: auto;
    padding-bottom: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 26px rgba(22, 22, 22, 0.5);
    z-index: 9; }
  .projects-container .image-container:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1); }
  .projects-container .image-container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.94) 3%, rgba(81, 81, 81, 0.29) 60%);
    opacity: 0.2;
    -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */ }
  .projects-container .project-wrapper {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: -moz-fit-content;
    visibility: hidden; }
    .projects-container .project-wrapper h2 {
      text-align: center;
      font-size: 40px;
      letter-spacing: 20px;
      padding-left: 20px;
      font-weight: 300;
      opacity: 0.5;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      height: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: -moz-fit-content;
      -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
      /* custom */ }
  .projects-container .project-wrapper.active {
    visibility: visible; }
    .projects-container .project-wrapper.active h2 {
      opacity: 1; }
  .projects-container .project-wrapper.next {
    visibility: visible;
    -webkit-transform: translate3d(0, 34vh, 0);
    -moz-transform: translate3d(0, 34vh, 0);
    -ms-transform: translate3d(0, 34vh, 0);
    transform: translate3d(0, 34vh, 0); }
  .projects-container .project-wrapper.last {
    visibility: visible;
    -webkit-transform: translate3d(0, -34vh, 0);
    -moz-transform: translate3d(0, -34vh, 0);
    -ms-transform: translate3d(0, -34vh, 0);
    transform: translate3d(0, -34vh, 0); }

.project-content {
  -webkit-transform: translate3d(0, -30px, 0);
  -moz-transform: translate3d(0, -30px, 0);
  -ms-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
  /* custom */
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 9999999;
  visibility: hidden;
  bottom: 0; }
  .project-content .project-meta {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    max-width: 60%;
    margin: 0 auto; }
    .project-content .project-meta .divider {
      height: 1px;
      background-color: #fff;
      width: 20px;
      margin: 12px auto; }
    .project-content .project-meta h3 {
      letter-spacing: 15px;
      padding-left: 15px;
      text-align: center;
      margin: 0;
      font-weight: 100; }
    .project-content .project-meta .meta {
      letter-spacing: 6px;
      padding-left: 6px;
      text-align: center;
      font-weight: 200;
      font-size: 12px; }

.project-box.open .project-content, .project-box.playing .project-content {
  -webkit-transform: translate3d(0, -100px, 0);
  -moz-transform: translate3d(0, -100px, 0);
  -ms-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
  visibility: visible;
  opacity: 1; }

.project-box.open:after, .project-box.playing:after {
  opacity: 1; }

.project-wrapper.active.open h2, .project-wrapper.active.playing h2 {
  -webkit-transform: translate3d(0, -100px, 0);
  -moz-transform: translate3d(0, -100px, 0);
  -ms-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0); }

.blog-container {
  width: 60%; }
  .blog-container .searchform {
    width: 100%; }
    .blog-container .searchform input[type="search"] {
      width: 100%;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0;
      border-bottom-color: #fff;
      margin-bottom: 17px;
      padding: 7px 0 12px 20px;
      font-size: 12px; }
    .blog-container .searchform input:focus {
      outline: none; }
    .blog-container .searchform label {
      position: relative; }
    .blog-container .searchform label:before {
      content: "";
      background-image: url(../images/search.png);
      position: absolute;
      top: 3.75px;
      left: 0;
      width: 12px;
      display: block;
      height: 12px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat; }
  .blog-container .blog-posts {
    width: 100%;
    height: 60vh;
    box-shadow: 0px 6px 28px rgba(17, 17, 17, 0.5); }
    .blog-container .blog-posts .blog-post {
      width: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 33.333%;
      position: relative; }
      .blog-container .blog-posts .blog-post .post-meta-container {
        position: absolute;
        bottom: 15px;
        left: 15px;
        opacity: 0;
        z-index: 9;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out; }
        .blog-container .blog-posts .blog-post .post-meta-container h2 {
          margin: 0;
          margin-bottom: -8px;
          letter-spacing: 1px; }
        .blog-container .blog-posts .blog-post .post-meta-container .post-meta {
          font-size: 10px;
          font-weight: 600;
          letter-spacing: 1px;
          margin: 0; }
    .blog-container .blog-posts .blog-post:after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1;
      background-image: linear-gradient(rgba(0, 0, 0, 0.9) 3%, rgba(30, 30, 30, 0.8) 60%);
      opacity: 0;
      transition: 0.3s all ease-in-out;
      -webkit-transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out;
      -ms-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out; }
    .blog-container .blog-posts .blog-post:hover .post-meta-container {
      opacity: 1; }
    .blog-container .blog-posts .blog-post:hover:after {
      opacity: 1; }

.contact-container {
  width: 60%; }
  .contact-container form {
    width: 60%;
    margin: 0 auto; }
  .contact-container input[type="text"], .contact-container input[type="email"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #959595;
    border-radius: 0;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    color: #222629;
    box-shadow: none;
    letter-spacing: 2px; }
    .contact-container input[type="text"]::-webkit-input-placeholder, .contact-container input[type="email"]::-webkit-input-placeholder {
      color: #222629; }
    .contact-container input[type="text"]:-moz-placeholder, .contact-container input[type="email"]:-moz-placeholder {
      color: #222629; }
    .contact-container input[type="text"]::-moz-placeholder, .contact-container input[type="email"]::-moz-placeholder {
      color: #222629; }
    .contact-container input[type="text"]:-ms-input-placeholder, .contact-container input[type="email"]:-ms-input-placeholder {
      color: #222629; }
  .contact-container input[type="text"], .contact-container input[type="email"], .contact-container textarea {
    width: 100%;
    margin: 15px 0; }
  .contact-container input:focus, .contact-container textarea:focus {
    outline: none !important; }
  .contact-container textarea {
    resize: none;
    box-shadow: 0px 6px 28px rgba(142, 142, 142, 0.5);
    color: #222629;
    border: none;
    height: 130px;
    font-size: 12px;
    padding: 10px; }
  .contact-container input[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 12px 40px 12px 42px;
    font-size: 7px;
    letter-spacing: 2px;
    font-weight: 200;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    background-color: #CA5D44;
    border: 0; }
  .contact-container input[type="submit"]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222629;
    z-index: 99;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 600ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */ }
  .contact-container input[type="submit"]:hover:after {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

section.about {
  background-color: #222629; }
  section.about .content-wrapper {
    margin: 0 auto;
    position: relative;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    -webkit-transition: all 200ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 200ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 200ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 200ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    section.about .content-wrapper img {
      max-width: 100%;
      box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.5); }
    section.about .content-wrapper .about-content-wrapper {
      position: relative;
      width: 90%;
      margin: 0 auto; }
      section.about .content-wrapper .about-content-wrapper .about-content {
        width: 55%; }
        section.about .content-wrapper .about-content-wrapper .about-content h2 {
          font-weight: 400;
          max-width: 65%;
          margin-top: 45px; }
        section.about .content-wrapper .about-content-wrapper .about-content p {
          font-size: 14px;
          font-weight: 500;
          line-height: 24px; }
        section.about .content-wrapper .about-content-wrapper .about-content .about-btns {
          display: flex;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: space-between;
          -webkit-justify-content: space-between;
          margin-top: 40px; }
          section.about .content-wrapper .about-content-wrapper .about-content .about-btns a {
            width: 45%;
            text-align: center;
            padding-left: 4px;
            padding-right: 0; }
      section.about .content-wrapper .about-content-wrapper img.side-image {
        width: 35%;
        position: absolute;
        bottom: -40px;
        right: 0; }
  section.about .content-wrapper.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px); }
  section.about .gear-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999999999;
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #222629;
    box-shadow: 0px 6px 28px rgba(0, 0, 0, 0.65);
    height: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: -moz-fit-content;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    -moz-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    -webkit-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    -moz-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    -o-transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    transition: all 800ms cubic-bezier(0.375, 0.005, 0, 1);
    /* custom */ }
    section.about .gear-container h3 {
      background-color: #CA5D44;
      color: #fff;
      letter-spacing: 12px;
      padding-left: 12px;
      text-align: center;
      font-weight: 400;
      font-size: 20px;
      margin: 0;
      padding: 15px 0;
      cursor: pointer;
      position: relative; }
    section.about .gear-container h3:not(:first-child) {
      border-top: 1px solid #C8422C; }
    section.about .gear-container h3:focus {
      outline: none; }
    section.about .gear-container h3:after {
      content: "";
      height: 14px;
      width: 14px;
      background-color: #CA5D44;
      -ms-transform: rotate(45deg);
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      /* Chrome, Safari, Opera */
      -moz-transform: rotate(45deg);
      /* Mozilla ? */
      transform: rotate(45deg);
      position: absolute;
      bottom: -7px;
      left: 35px;
      display: block; }
    section.about .gear-container div {
      font-family: "Bebas Neue", sans-serif;
      padding: 25px 44px 18px;
      line-height: 1.8em;
      font-size: 14px; }
  section.about .gear-container.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
